{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>AS Config Gen</h2>
      <p>Builds access switch configuration</p>
      <p><a class="btn btn-default" href="{{ url_for('public.automation') }}">Go! &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>MPR Config Gen</h2>
      <p>Builds MX Core configuration</p>
      <p><a href="{{ url_for('public.automation') }}" class="btn btn-default">Go! &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>l2circuit</h2>
      <p>Builds configuration for l2circuits in the core</p>
      <p><a href="{{ url_for('public.automation') }}" class="btn btn-default">Go! &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
