
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1><i class="fa fa-sitemap"></i>Welcome to CLEO</h1>

  <p>CLEO is a configuration, information gathering, and documentation application. Keeping everything #SimpleAF</p>
  <p><a href="https://cleo/automation" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> CPE</h2>
      <p>Houses CPE configurations</p>
      <p><a class="btn btn-default" href="http://cpe.zitomedia.net">Go! &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> TBD</h2>
      <p>TBD</p>
      <p><a href="http:///" class="btn btn-default">Go! &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Netbox</h2>
      <p>Netbox is a IPAM and DCIM tool used by engineering</p>
      <p><a href="http://netbox.zitomedia.net" class="btn btn-default">Go! &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

